/*
Style the paragraphs: use a Serif font, increase the spacing a little, use a basic size that makes it easy to read. Give the text a dark color, but not black.
Style links so that they are easily readable.
Style the "hover" and "visited" state of the links.
*/
*{
    margin-top: 10px;

}
body{
    max-width: 90%;
    margin-left: 75px;
    margin-right: 10px;
    line-height: 1.6;
    /* background: -webkit-linear-gradient(-100deg, rgb(222, 162, 162), rgb(241, 193, 199));
    background: linear-gradient(-100deg, rgb(222, 162, 162), rgb(241, 193, 199)); */
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/12/08/detailed-watercolour-texture-background-vector-26961208.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 68, 58);
    font-size: 25px;

}
h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 68, 58);
    font-size: 22px;
}
p, span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslateblue;
    font-size: 20px;
    
}
blockquote{
    margin: 5px;
    padding: 5px;
}
a:link{
    color: black;
    text-decoration: double;
}
a:visited{
    color: blueviolet;
    text-decoration: underline;
}
a:hover{
    color: tomato;
    text-decoration: underline;
}

table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(38, 105, 192);
    font-size: 20px;
}

ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslateblue;
    font-size: 20px;
}
.dialogue{
   /*background-color: aqua;*/
   margin-left: 250px;
   text-indent: 250px;
   margin-right: 250px;
   margin-top: 80px;
   margin-bottom: 80px;
   line-height: 2;
   font-size: 160%;
   background-color: rgb(196, 192, 192);
   border-style: solid;
   border-right: none;
   border-bottom: none;
   border-top: none;
   border-color: firebrick;
   border-width: 3px;
   padding-left: 30px;
   padding-right: 30px;
   
}
#farmer{
   border-color: rgba(3, 121, 19, 0.712);

}

span.dialogue{
    font-style: italic;
}